---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Architecture
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Architecture</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "architecture" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

<!-- Sculpture and Painting
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Sculpture and Painting</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "paint" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>


<!-- Music and Dance
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Music and Dance</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "music" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>



<!-- Traditions
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Traditions</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "traditions" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}


<br>
<hr>

<!-- Posts Index
================================================== -->

<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>


<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

