---
layout: default
title: Home
---

<!-- Painting and Sculpture
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Painting and Sculpture</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "paint" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>


<!-- Architecture
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Architecture</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "architecture" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>




<!-- Music and Dance
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Music and Dance</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "music" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>



<!-- Traditions
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Traditions</span></h2>
    </div>
    <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.ptheme contains "traditions" %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>




<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

